extends layout/layout.pug

block vars
	-
		var pageTitle = 'О проекте',
			pageType = 'about';

block content

	section.section.section_about_title
		.container
			.section_content.section_content--not_title
				.section_content_title
					h1.__h1
						| О 
						img(src='/img/rebate_logo.svg').h1_image
						<br />
						.__h1--sub
							img(src='/img/rebate_logo.svg').h1_sub_image
							|  это —
				.row
					.col-12.col-md-4
						.section_item.section_item--about_block1
							.section_item_bg.bg_color--yellow
								.section_item_icon
									img(src='/img/icon_about1.svg').section_item_icon-icon
							.section_item_title Товары ведущих мировых брендов на специальных условиях
					.col-12.col-md-4
						.section_item.section_item--about_block2
							.section_item_bg.bg_color--green
								.section_item_icon
									img(src='/img/icon_about3.svg').section_item_icon-icon
							.section_item_title Интересные бонусные программы для покупателей и блогеров
					.col-12.col-md-4
						.section_item.section_item--about_block3
							.section_item_bg.bg_color--orange
								.section_item_icon
									img(src='/img/icon_about2.svg').section_item_icon-icon
							.section_item_title Привлекательные условия сотрудничества для производителей и дистрибьюторов

	section.section.section_roadmap.pp-scrollable
		.container.section_roadmap
			.section_bg--roadmap1
			.section_bg--roadmap2
			.section_content--not_title
				.section_content_title
					h2.__h2 Road map
				.roadmap
					.roadmap_item
						.roadmap_item-text
							h3.__h3 Открыт офис в Кохтла-Ярве
					.roadmap_item
						.roadmap_item-text 
							h3.__h3 Открыт офис в Кохтла-Ярве
					.roadmap_item
						.roadmap_item-text
							h3.__h3 Достигнут оборот в 1 млн евро
					.roadmap_item
						.roadmap_item-text
							h3.__h3 Приобретены автобаза Кауба 3 в Кохтла-Ярве + складское здание
	
	section.section.section_team.pp-scrollable
		.container
			.section_first
				h2.__h2 Команда
			.section_content
				.team
					.team_item
						.team_item-avatar
							img(src="/img/team_1.jpg")
						.team_item-name Иванов Петр Алексеевич
						.team_item-position Генеральный директор
					.team_item
						.team_item-avatar
							img(src="/img/team_2.jpg")
						.team_item-name Семенов Андрей Васильевич
						.team_item-position Коммерческий директор
					.team_item
						.team_item-avatar
							img(src="/img/team_3.jpg")
						.team_item-name Федоров Павел Алексеевич
						.team_item-position Технический директор


	