extends layout/layout.pug

block vars
	-
		var pageTitle = 'Блоггерам',
			pageType = 'bloger';

block content
	section.section.section_bloger_title
		.container
			.section_content.section_content--not_title
				.section_content_title
					h1.__h1
						| Лучшая программа для блоггеров
						<br />
						.__h1--sub
							| Зарабатывай вместе с 
							img(src='/img/rebate_logo.svg').h1_sub_image
				.row
					.col-12.col-md-4
						.section_item.section_item--bloger1
							.section_item_bg.bg_color--sky
								.section_item_icon
									img(src='/img/icon_about1.svg').section_item_icon-icon
							.section_item_title Товары ведущих мировых брендов на специальных условиях
					.col-12.col-md-4
						.section_item.section_item--bloger2
							.section_item_bg.bg_color--sky
								.section_item_icon
									img(src='/img/icon_about2.svg').section_item_icon-icon
							.section_item_title Выгодные условия сотрудничества
					.col-12.col-md-4
						.section_item.section_item--bloger3
							.section_item_bg.bg_color--sky
								.section_item_icon
									img(src='/img/icon_about3.svg').section_item_icon-icon
							.section_item_title Простая и прозрачная схема сотрудничества

	section.section.section_blog_benefits.section--reverse
		.container
			.section_title
				h2.__h2 
					img(src='/img/rebate_logo.svg').__h2-image
					| — новые возможности для продаж

			.section_content
				.row
					.col-12.col-md-6
						.section_item.section_item--blog_benefits1
							.section_item_graph--section_graph1
							.section_item_bg.bg_color--blu
								.section_item_icon
									img(src='/img/icon_about1.svg').section_item_icon-icon
							.section_item_title Трехуровневая партнёрская программа
							.section_item_text описание блока
					.col-12.col-md-6
						.section_item.section_item--blog_benefits2
							.section_item_bg.bg_color--yellow
								.section_item_icon
									img(src='/img/icon_about1.svg').section_item_icon-icon
							.section_item_title CashBack мотивация на повторный репост
							.section_item_text описание блока
					.col-12.col-md-6
						.section_item.section_item--blog_benefits3
							.section_item_bg.bg_color--orange
								.section_item_icon
									img(src='/img/icon_about1.svg').section_item_icon-icon
							.section_item_title Социальный замок — закрепление посетителя за первоисточник трафика
							.section_item_text описание блока
					.col-12.col-md-6
						.section_item.section_item--blog_benefits4
							.section_item_bg.bg_color--green
								.section_item_icon
									img(src='/img/icon_about1.svg').section_item_icon-icon
							.section_item_title Постоянные выплаты в период активности блогера
							.section_item_text 
								strong описание блока
								| описание блока
	
	section.section.section_submit_form
		.container
			.section_content.section_content--not_title
				h2.__h2 Создать заявку на сотрудничество
				
				form.form.form--section_submit_form
					.field
						input(type='text' placeholder="Ваше имя")
					.field
						input(type='tel' placeholder="Ваш телефон")
					.field
						input(type='text' placeholder="Ссылка на вашу страницу в соцсетях")
					.field
						textarea(rows="5" placeholder="Комментарий")
					.field
						button Оставить заявку


	