extends layout/layout.pug

block vars
	-
		var pageTitle = 'Бонус',
			pageType = 'bonus';

block content
	section.section.section_bonus_title
		.container
			.section_title.section_title--bonus
				h1.__h1  Покупки выгоднее
					br
					| с 
					img(src='/img/rebate_logo.svg')
					|. Bonus
			.section_content
				.section_content_video
					img(src='/img/title_video_img.jpg').section_content_video-img


	section.section.section_bonus_benefit
		.container
			.section_bg--bonus_benefit_top
			.section_bg--bonus_benefit_bottom

			.section_title
				h2.__h2  Покупки выгоднее
					br
					| с 
					img(src='/img/rebate_logo.svg')
					|. Bonus
			.section_content
				.row
					.col-12.col-sm-6.col-xl-5
						.section_item.section_item--bonus_block1
							.section_item_bg.bg_color--blu.section_item_bg--bonus_block1
								.section_item_icon.section_item_icon--bonus_block1
									img(src='/img/icon_bonus1.svg').section_item_icon-icon
							.section_item_title.section_item_title--bonus_block1 Делай репост,  получай CashBack  до 25%!

					.col-12.col-sm-6.col-xl-5
						.section_item.section_item--bonus_block2
							.section_item_bg.bg_color--green.section_item_bg--bonus_block2
								.section_item_icon.section_item_icon--bonus_block2
									img(src='/img/icon_bonus2.svg').section_item_icon-icon
							.section_item_title.section_item_title--bonus_block2 Поделись покупками в одной из соц.сетей и получи до 5% з,а покупки друзей
			

	section.section.section_bonus_using.pp-scrollable
		.container
			.section_title.section_title--bonus_using
				h2.__h2 Воспользоваться программой 
					img(src='/img/rebate_logo.svg')
					|. Bonus очень просто!
					
			.section_content.section_content--bonus_using
				.row
					.col-12.col-md-6.col-xl-5
						.section_item.section_item--bonus_using1
							.section_item_bg.bg_color--lime.section_item_bg--bonus_using1
								.section_item_icon.section_item_icon--bonus_using1
									img(src='/img/icon_basket.png').section_item_icon-icon
								.section_item_number.section_item_number--bonus_using
									.section_item-number.section_item-number--bonus_using1 1
							.section_item_title.section_item_title--bonus_using Вы совершаете покупку на одном из наших сайтов
							
					.col-12.col-md-6.col-xl-5
						.section_item.section_item--bonus_using2
							.section_item_bg.bg_color--orange.section_item_bg--bonus_using2
								.section_item_icon.section_item_icon--bonus_using2
									img(src='/img/icon_photo.png').section_item_icon-icon
								.section_item_number.section_item_number--bonus_using
									.section_item-number.section_item-number--bonus_using2 2
							.section_item_title.section_item_title--bonus_using В коробке вы найдете QR-код, сфотографируйте код и коробку
					
					.col-12.col-md-6.col-xl-5
						.section_item.section_item--bonus_using3
							.section_item_bg.bg_color--yellow.section_item_bg--bonus_using3
								.section_item_icon.section_item_icon--bonus_using3
									img(src='/img/icon_bonus1.svg').section_item_icon-icon
								.section_item_number.section_item_number--bonus_using
									.section_item-number.section_item-number--bonus_using3 3
							.section_item_title.section_item_title--bonus_using Разместите в любой соцсети с хештегом #rebatebonus
							
					.col-12.col-md-6.col-xl-5
						.section_item.section_item--bonus_using4
							.section_item_bg.bg_color--blu.section_item_bg--bonus_using4
								.section_item_icon.section_item_icon--bonus_using4
									img(src='/img/icon_money.png').section_item_icon-icon
								.section_item_number.section_item_number--bonus_using
									.section_item-number.section_item-number--bonus_using4 4
							.section_item_title.section_item_title--bonus_using Получите CashBack на свой счет
			
							
	section.section.section_faq.pp-scrollable
		.container
			.section_content.section_content--not_title
				.section_content_title
					h2.__h2 Вопросы и ответы
				.section_faq_items
					.section_faq_item
						.faq_item-q Как стать участником Rebate.Bonus?
						.faq_item-a Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке модели развития. Товарищи! консультация с широким активом играет важную роль в формировании систем массового участия. Разнообразный и богатый опыт постоянный количественный рост и сфера нашей
					.section_faq_item 
						.faq_item-q Как работает схема Rebate.Bonus?
						.faq_item-a Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке модели развития. Товарищи! консультация с широким активом играет важную роль в формировании систем массового участия. Разнообразный и богатый опыт постоянный количественный рост и сфера нашей
					.section_faq_item
						.faq_item-q Что такое Rebate.Bonus?
						.faq_item-a Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке модели развития. Товарищи! консультация с широким активом играет важную роль в формировании систем массового участия. Разнообразный и богатый опыт постоянный количественный рост и сфера нашей
					.section_faq_item 
						.faq_item-q Как стать участником Rebate.Bonus?
						.faq_item-a Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке модели развития. Товарищи! консультация с широким активом играет важную роль в формировании систем массового участия. Разнообразный и богатый опыт постоянный количественный рост и сфера нашей
			