extends layout/layout.pug

block vars
	-
		var pageTitle = 'Главная';
		var pageType = 'index';

block content

	section.section.section-first
		.container
			.section_title.section_title--first
				h1.__h1
					| Привет! Это 
					img(src='/img/rebate_logo.svg')
					<br />
					|— товары мировых брендов 
					<br />
					| на выгодных условиях!
			
			.section_content
				.section_content_video
					img(src='/img/title_video_img.jpg').section_content_video-img
					video#video(width="100%" height="auto" preload="auto").section_content_video-video
						source(src="/img/video_example.mp4")
						source(src="/img/video_example.mp4" type="video/webm")


	section.section.section-items.pp-scrollable
		.container
			.section-items__image.__image-bottom
				svg
					use(xlink:href="/img/wave_v.svg#img")
			.row
				.col-12.col-lg-4.col-xl-3
					.section__title
						h2.__h2 Выберите <br>категорию:
				.col-12.col-lg-8.col-xl-9
					.row
						.col-12.col-md-6.col-xl-5
							.section-item.__item1
								.item-bg.bg_color--green.__babybjorn
									.item-bg-img.__babybjorn(style="background-image: url('/img/babybjorn_bg_img.png')")
								.item-image
									img(src="/img/item_1.png")
								.item-title
									img(src="/img/babybjorn.png")

						.col-12.col-md-6.col-xl-5
							.section-item.__item2
								.item-bg.bg_color--sky.__shema
									.item-bg-img.__shema(style="background-image: url('/img/shema_bg_img.png')")
								.item-image
									img(src="/img/item_2.png")
								.item-title
									img(src="/img/shema.png")
					.row
						.col-12.col-md-6.col-xl-5
							.section-item.__item3
								.item-bg.bg_color--blu.__chicco
									.item-bg-img.__chicco(style="background-image: url('/img/chicco_bg_img.png')")
								.item-image
									img(src="/img/item_3.png")
								.item-title
									img(src="/img/chicco.png")
						.col-12.col-md-6.col-xl-5
							.section-item.__item4
								.item-bg.bg_color--yellow.__fisherprice
									.item-bg-img.__fisherprice(style="background-image: url('/img/fisherprice_bg_img.png')")
								.item-image
									img(src="/img/item_4.png")
								.item-title
									img(src="/img/fisherprice.png")
					.row
						.col-12.col-md-6.col-xl-5
							.section-item.__item5
								.item-bg.bg_color--orange.__gillette
									.item-bg-img.__gillette(style="background-image: url('/img/gillette_bg_img.png')")
								.item-image
									img(src="/img/item_5.png")
								.item-title
									img(src="/img/gillette.png")
						.col-12.col-md-6.col-xl-5
							.section-item.__item6
								.item-bg.bg_color--lime.__shema2
									.item-bg-img.__shema2(style="background-image: url('/img/shema_bg_img2.png')")
								.item-image
									img(src="/img/item_2.png")
								.item-title
									img(src="/img/shema.png")


	section.section.section-bonus
		.container
			.row
				.col-12.col-md-5.col-lg-4.col-xl-4
					.section__title
						h2.__h2 
							img(src='/img/rebate_logo.svg')
							span.__upper .BONUS
							<br />
							span.__sub Сделай пост, получи кэшбек

				.col-12.col-md-7.col-lg-7.offset-lg-1
					.row
						.col-6
							.section-item.__repost
								.section-item__icon._arrow
									img(src='/img/item_arrow-right.svg')
								.section-item__bg.bg_color--green
								.section-item__icon
									img(src='/img/bonus_share_to.png')

						.col-6
							.section-item.__cashback
								.section-item__bg.bg_color--yellow
								.section-item__icon
									img(src='/img/plus_to_pocket.png')


	section.section.section-benefits.pp-scrollable
		.container
			.row
				.col-12.col-md-4.col-xl-3
					.section__title
						h2.__h2 Наши <br>плюсы:
				.col-12.col-md-8
					.row
						.col-12.col-sm-6
							.section-item.__garant
								.section-item__bg.bg_color--blu
								.section-item__icon
									img(src='/img/plus_shielt.png')
								.section-item__text
									h3.__h3 Гарантия <br>магазина
									p Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности позволяет выполнять важные задания
						.col-12.col-sm-6
							.section-item.__pay
								.section-item__bg.bg_color--lime
								.section-item__icon
									img(src='/img/plus_pocket.png')
								.section-item__text
									h3.__h3 Онлайн-<br>оплата
									p Товарищи! консультация с широким активом играет важную роль в формировании систем массового участия. Разнообразный и богатый опыт постоянный количественный рост и сфера нашей
					.row
						.col-12.col-sm-6
							.section-item.__return
								.section-item__bg.bg_color--orange
								.section-item__icon
									img(src='/img/plus_return.png')
								.section-item__text
									h3.__h3 Быстрый <br>возврат <br>средств
									p Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке модели развития. Товарищи! консультация с широким активом играет важную роль в формировании систем массового участия. Разнообразный и богатый опыт постоянный количественный рост и сфера нашей
						.col-12.col-sm-6.col-lg-4
							.section-item.__support
								.section-item__bg.bg_color--green
								.section-item__icon
									img(src='/img/plus_support.png')
								.section-item__text
									h3.__h3 Поддержка <br>24х7
									p Разнообразный и богатый опыт постоянный количественный рост и сфера нашей


	section.section.section-subscribe
		.container
			.row
				.col-12.col-md-6.col-lg-5
					.section__title
						h2.__h2 Каждый день мы добавляем что-то новое
						p Уникальная возможность купить по отличной цене первым! Подпишись!

						form.form-inline
							.field
								input(type='email' placeholder="email")
							.field
								button Подписаться

				.col-12.col-md-6.col-lg-7
					.section-image
						img(src='/img/air_baloon.png')