extends layout/layout.pug

block vars
	-
		var pageTitle = 'Поставщикам',
			pageType = 'postavshik';
		
block content
	section.section.section_postavshik_title
		.container
			.section_title.section_title--postavshik
				h1.__h1 Предлагаем новые 
					br
					| возможности для продажи 
					br
					| Ваших товаров

			.section_content
				.section_content_video
					img(src='/img/title_video_img.jpg').section_content_video-img

	section.section.section_newsales.pp-scrollable
		.container
			.section_title.section_title--postavshik
				h2.__h2 
					img(src='/img/rebate_logo.svg').__h2-image
					| — новые возможности для продаж

			.section_content.section_content--postavshik
				.row.flex-row-reverse
					.col-12.col-md-6.col-xl-5
						.section_item.section_item--newsales1
							.section_item_bg.bg_color--orange.section_item_bg--newsales1
								.section_item_icon.section_item_icon--newsales1
									img(src='/img/icon_basket.png').section_item_icon-icon
								.section_item_number.section_item_number--newsales
									.section_item-number.section_item-number--newsales1 1
							.section_item_title.section_item_title--newsales Индивидуальное продвижение вашего бренда
							
					.col-12.col-md-6.col-xl-5
						.section_item.section_item--newsales2
							.section_item_bg.bg_color--yellow.section_item_bg--newsales2
								.section_item_icon.section_item_icon--newsales2
									img(src='/img/icon_photo.png').section_item_icon-icon
								.section_item_number.section_item_number--newsales
									.section_item-number.section_item-number--newsales2 2
							.section_item_title.section_item_title--newsales Разработка и продвижениие рекламных кампаний среди покупателей Rebate
					
					.col-12.col-md-6.col-xl-5
						.section_item.section_item--newsales3
							.section_item_bg.bg_color--blu.section_item_bg--newsales3
								.section_item_icon.section_item_icon--newsales3
									img(src='/img/icon_bonus1.svg').section_item_icon-icon
								.section_item_number.section_item_number--newsales
									.section_item-number.section_item-number--newsales3 3
							.section_item_title.section_item_title--newsales Качественная фотообработка товаров
							
					.col-12.col-md-6.col-xl-5
						.section_item.section_item--newsales4
							.section_item_bg.bg_color--lime.section_item_bg--newsales4
								.section_item_icon.section_item_icon--newsales4
									img(src='/img/icon_money.png').section_item_icon-icon
								.section_item_number.section_item_number--newsales
									.section_item-number.section_item-number--newsales4 4
							.section_item_title.section_item_title--newsales Развитая CPA сеть

					.col-12.col-md-6.col-xl-5
						.section_item.section_item--newsales5
							.section_item_bg.bg_color--green.section_item_bg--newsales5
								.section_item_icon.section_item_icon--newsales5
									img(src='/img/icon_money.png').section_item_icon-icon
								.section_item_number.section_item_number--newsales
									.section_item-number.section_item-number--newsales5 5
							.section_item_title.section_item_title--newsales Лучшие условия для продвижения товаров через социальные сетиkam.html

					.col-12.col-md-6.col-xl-5
						.section_item.section_item--newsales6
							.section_item_bg.bg_color--perp.section_item_bg--newsales6
								.section_item_icon.section_item_icon--newsales6
									img(src='/img/icon_money.png').section_item_icon-icon
								.section_item_number.section_item_number--newsales
									.section_item-number.section_item-number--newsales6 6
							.section_item_title.section_item_title--newsales А/Б тесты специальных предложений

					.col-12.col-md-6.col-xl-5
						.section_item.section_item--newsales7
							.section_item_bg.bg_color--orange.section_item_bg--newsales7
								.section_item_icon.section_item_icon--newsales7
									img(src='/img/icon_money.png').section_item_icon-icon
								.section_item_number.section_item_number--newsales
									.section_item-number.section_item-number--newsales7 7
							.section_item_title.section_item_title--newsales Ретаргетинг на релевантную аудиторию покупателей


	section.section.section__posvatshik_for_who
		.container
			.section_content.section_content--not_title
				.section_content_title
					h3.__h3 Если вы…

				.row
					.col-12.col-md-4
						.section_item.section_item--posvatshik_for_who
							.section_item_bg.bg_color--yellow
								.section_item_icon
									img(src='/img/icon_about1.svg').section_item_icon-icon
							.section_item_title Товары ведущих мировых брендов на специальных условиях
					.col-12.col-md-4
						.section_item.section_item--posvatshik_for_who
							.section_item_bg.bg_color--green
								.section_item_icon
									img(src='/img/icon_about3.svg').section_item_icon-icon
							.section_item_title Официальный дистрибьютор
					.col-12.col-md-4
						.section_item.section_item--posvatshik_for_who
							.section_item_bg.bg_color--orange
								.section_item_icon
									img(src='/img/icon_about2.svg').section_item_icon-icon
							.section_item_title Владелец склада
				
				h2.__h2 
					img(src='/img/rebate_logo.svg').__h2-image
					| предлагает вам инстурмент для расширения бизнеса


	section.section.section__submit_form
		.container
			.section_content.section_content--not_title
				h2.__h2 Оставьте заявку, чтобы узнать условия
				
				form.form.form--section_submit_form
					.field
						input(type='text' placeholder="ФИО")
					.field
						input(type='text' placeholder="Компания")
					.field
						input(type='text' placeholder="Должность")
					.field
						input(type='email' placeholder="Email")
					.field
						input(type='text' placeholder="Сайт компании")
					.field
						input(type='tel' placeholder="Ваш телефон")
					.field
						textarea(rows="5" placeholder="Комментарий")
					.field
						button Оставить заявку

