
footer

	ul#footer_nav
		li.footer_item_counter 
			span.f_item_current 01
			span.f_items 06
		li.footer_nav-item
		li.footer_nav-item
		li.footer_nav-item
		li.footer_nav-item
		li.footer_nav-item
		li.footer_nav-item