section.section.section-contacts
	.container
		.row
			.col-12
				.section_title.__start
					h2.__h2 Лучшие покупки с 
						img(src='/img/rebate_logo.svg')

			.col-12.col-md-6
				.section_title
					span.phone 8 (495) 2666555
					a(mailto:info@rebate.shop).email info@rebate.shop

					.social
						a(href="/" target="_black")
							img(src='/img/youtube_ico.png')
						a(href="/" target="_black")
							img(src='/img/fb_ico.png')
						a(href="/" target="_black")
							img(src='/img/insta_ico.png')

					p.copyright Copyright 2019 Rebate.shop

					-if(pageType == "about")
						.address
							p.address-text 123317, г.Москва, Шмитовский проезд, д.35, стр.1
							p.address-text 
								|ИНН: 7708575802 КПП: 770301001 ОГРН 1057748427384 
								br
								| Код ОКВЭД 45.20.2 Код ОКПО 78955912
							p.address-text
								| АО «СМП Банк»    БИК:	044525503
								br
								| Кор. счет::	30101810545250000503
								br
								| Расчетный счет:	40702810800190000253

			.col-12.col-sm-6.col-md-4.offset-md-2
				.footer_nav
					a(href="/index.html") Покупателям 
					a(href="/bonus.html") Rebate.Bonus 
					a(href="/postavshikam.html") Поставщикам 
					a(href="/bloggeram.html") Блогерам 
					a(href="/about.html") О Rebate
