block vars
	- var pageTitle = '';

title=pageTitle + ' — Rebate'

meta(charset='utf-8')

meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=360, initial-scale=1, shrink-to-fit=no")

link(type="image/x-icon" href="/img/favicon.png" rel="shortcut icon")
link(href="/css/normalize.css", rel='stylesheet')
link(href="/css/grid.css", rel='stylesheet')
link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap&subset=cyrillic" rel="stylesheet")
link(href="/css/hamburgers.min.css", rel='stylesheet')
link(href="/css/jquery.pagepiling.css", rel='stylesheet')
link(href="/css/base.css?v={VERSION_REPlACE}", rel='stylesheet')


block head