block nav_pages
	-
		var nav_pages = [
			{
				name: '',
				href: '/.html',
				type: ''
			},
		];

header
	.header_wrap
		.header_logo
			.header-logo
				a(href="/")
					img(src='/img/rebate_logo.svg')
			.header_menu
				img(src='/img/menu_burger.svg').header-burger#btn_showNavMenu
		.header_langs
			.langs_item.langs_item--all Russian
			.langs_item RUS
			.langs_item
				a(href='/en') ENG

	.header_nav#header_nav
		.header_nav_action
			.header_logo
				a(href="/")
					img(src='/img/rebate_logo-wt.svg')
			.header_menu.header_menu--nav
				img(src='/img/menu_close.svg').header-close#btn_hideNavMenu
			
		.header_nav-item
			a(href="/index.html") Покупателям 
		.header_nav-item
			a(href="/bonus.html") Rebate.Bonus 
		.header_nav-item
			a(href="/postavshikam.html") Поставщикам 
		.header_nav-item
			a(href="/bloggeram.html") Блогерам 
		.header_nav-item
			a(href="/about.html") О Rebate



