@import 'mixins';
@import 'variables';

main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.section {
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 100px;
    padding-bottom: 50px;

    &.pp-scrollable {
        overflow-y: scroll;
        height: 100%;
        padding-bottom: 10em;
    }

    .intro {
        position: absolute;
        bottom: 100px;
        text-align: center;
        width: 100%;
    }

    .section_title {
        display: none;
    }
}

.section_title {
    position: relative;
    z-index: 10;

    &.section_title--first,
    &.section_title--postavshik,
    &.section_title--bonus {
        width: auto;
    }
}

.section_content {
    &.section_content--not_title {
        width: 100%;
        float: none;
    }
}

.section_content_title {
    margin-bottom: 50px;
}

.section_content_video {
    min-height: 400px;
    position: relative;
    overflow: hidden;
}

.section_content_video-video,
.section_content_video-img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: auto;
}

.section_content_video-img {
    z-index: 2;
    cursor: pointer;
}

.section_content_video-video {
    z-index: 1;
    cursor: pointer;


    &.play {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10000;
        transform: none;
        background: white;
    }
}

.section_item {
    margin-bottom: 2em;
    position: relative;
    padding: 30px;
}

.section_item_number {
    color: white;
    z-index: 3;
    position: absolute;
    overflow: hidden;
    height: 90%;
    right: 0;
    bottom: 0;
    width: 100px;
}

.section_item-number {
    color: white;
    position: absolute;
    font-family: $font-Roboto;
    font-size: 150px;
    line-height: 1;
    bottom: -20px;
    right: -18px;
    font-weight: 600;
}

.section_item_icon {
    z-index: 2;
    position: relative;
}

.section_item_icon-icon {
    max-width: 30%;
}

.section_item_title {
    font-weight: 600;
    line-height: 1.1;
    position: relative;
    z-index: 4;
    margin-top: 20%;
}

.section_item_text {
    position: relative;
    z-index: 5;
}

.section_item_bg {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-shadow: 20px 30px 50px rgba(4, 35, 52, 0.07);
    border-radius: 10px;
}

.section-items {
    .container {
        position: relative;
    }

    .section-items__image {
        position: absolute;

        svg {
            width: 400px;
            height: 400px;
        }

        &.__image-top {
            top: -96px;
            left: 0;
            fill: $color-green;
        }

        &.__image-bottom {
            left: 80%;
            z-index: 4;
            top: 400px;
        }
    }

    .section-item {
        position: relative;
        display: block;
        margin-bottom: 40px;
        padding: 20px;
        max-width: 400px;

        &:hover {
            opacity: 1;
        }

        .item-image {
            position: relative;
            z-index: 2;
            height: auto;
            text-align: center;

            img {
                max-width: 300px;
            }
        }

        .item-title {
            text-align: center;
            position: relative;
            z-index: 2;
            height: auto;

            img {
                max-width: 200px;
            }
        }

        .item-bg {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0%;
            right: 0%;
            z-index: 1;
            box-shadow: 20px 30px 50px rgba(4, 35, 52, 0.07);
            border-radius: 10px;
            transform: matrix(-1, 0, 0, 1, 0, 0);

            .item-bg-img {
                position: absolute;
                background-position: top center;
                background-size: cover;

                &.__babybjorn {
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }

                &.__shema {
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 70%;
                }

                &.__chicco {
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 50%;
                }

                &.__fisherprice {
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }

                &.__gillette {
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 50%;
                }

                &.__shema2 {
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 30%;
                    background-position: bottom center;
                }
            }
        }
    }

    @include min_width(1200) {
        .section-items__image.__image-bottom {
            top: 500px;
            left: 85%;
        }

        .section-item {
            .item-image {
                left: -60px;
                max-width: 300px;

                img {
                    max-width: 100%
                }
            }

            .item-title {
                text-align: left;
            }

            &.__item1 {

                .item-bg {
                    top: 80px;
                    width: 70%;
                    right: 50px;
                    height: 80%;
                }
            }

            &.__item2 {
                top: 100px;
                left: -50px;

                .item-bg {
                    top: 70px;
                    width: 200px;
                    right: 163px;
                    height: 90%;
                }
            }

            &.__item3 {
                top: -100px;
                left: -100px;


                .item-bg {
                    top: 80px;
                    width: 60%;
                    right: 100px;
                    height: 80%;
                }
            }

            &.__item4 {
                left: -150px;
                top: 100px;

                .item-bg {
                    top: 80px;
                    width: 80%;
                    right: 0px;
                    height: 80%;
                }
            }

            &.__item5 {
                top: -30px;
                left: -50px;

                .item-bg {
                    top: 80px;
                    width: 60%;
                    right: 90px;
                    height: 80%;
                }
            }

            &.__item6 {
                top: 50px;
                left: -150px;

                .item-bg {
                    top: 80px;
                    width: 60%;
                    right: 73px;
                    height: 90%;
                }
            }
        }
    }
}

.section-bonus {
    .section-item {
        margin-bottom: 2em;
        min-height: 300px;
        position: relative;

        .section-item__bg {
            position: absolute;
            top: 0;
            right: 0;
            width: 70%;
            height: 90%;
            box-shadow: 20px 30px 50px rgba(4, 35, 52, 0.07);
            transform: matrix(-1, 0, 0, 1, 0, 0);
            background-position: center center;
            background-size: cover;
            border-radius: 10px;
        }

        &__icon {
            position: relative;

            &._arrow {
                position: absolute;
                top: 50px !important;
                right: -110px;
                left: unset !important;
                width: auto !important;

                @include min_width(768) {
                    right: -105px;
                }

                @include min_width(1200) {
                    right: -112px;
                }

                @include min_width(1600) {
                    right: -112px;
                }
            }
        }

        &.__repost {
            top: 30px;

            .section-item__bg {
                background-image: url('/img/bonus_repost_bg-img.png');
            }
        }

        &.__cashback {
            top: -30px;

            .section-item__bg {
                background-image: url('/img/bonus_cashback_bg-img.png');
            }
        }

        @include min_width(768) {
            min-height: 500px;

            &.__repost {
                top: 160px;
                left: -50px;

                .section-item__icon {
                    width: 350px;
                    left: -14px;
                    top: 13px;
                }
            }

            &.__cashback {
                top: 0px;
                left: -50px;
            }
        }

        @include min_width(1200) {
            min-height: 900px;

            &.__repost {
                left: -150px;
            }

            &.__cashback {
                left: -150px;
            }
        }
    }
}

.section-benefits {
    background-image: url('/img/plus_cirscles.png');
    background-position: 0% -5%;
    background-repeat: no-repeat;
    background-attachment: local;

    .section_title {
        background-color: white;
    }

    .section-item {
        position: relative;
        margin-bottom: 2em;
        padding: 40px;
        max-width: 400px;
    }

    .section-item__icon,
    .section-item__text {
        position: relative;
        z-index: 2;
    }

    .section-item__text {
        font-size: 16px;
    }

    .section-item__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 20px 30px 50px rgba(4, 35, 52, 0.07);
        border-radius: 10px;
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }

    @include min_width(768) {
        .section-item__icon {
            width: 60px;
        }
    }

    @include min_width(992) {
        .section-item {

            .section-item__text {
                margin-top: 80px;

                .__h3 {
                    margin-bottom: 0.5em;
                }
            }

            .section-item__icon {
                width: 100px;
                position: absolute;
                top: -20px;
            }

            &.__garant {
                top: -20px;

                .section-item__bg {
                    width: 65%;
                    left: 30%;
                }
            }

            &.__pay {
                top: 100px;
                left: 40px;

                .section-item__bg {
                    width: 80%;
                    left: 20%;
                }
            }

            &.__return {
                left: -100px;
                width: 120%;

                .section-item__bg {
                    width: 80%;
                    left: 20%;
                }
            }

            &.__support {
                top: 200px;
                left: -60px;
                width: 200px;

                .section-item__bg {
                    width: 90%;
                    left: 35%;
                }
            }
        }
    }

    @include min_width(1200) {
        .section-item {
            &.__return {
                left: -170px;
                width: 120%;
                top: 100px;
            }

            &.__support {
                top: 200px;
                left: -60px;

            }
        }
    }
}

.section-subscribe {
    .section__title {
        z-index: 1;
        position: relative;

        p {
            font-size: 16px;
        }

        .__h2 {
            margin-bottom: 15px;
        }

        form {
            margin-top: 30px;
        }
    }

    .section-image {
        width: 300px;
    }

    @include min_width(768) {
        .section-image {
            width: 150%;
            left: -50%;
            position: relative;
        }

        .section__title {
            form {
                margin-top: 3em;
            }
        }
    }

    @include min_width(992) {
        .section-image {
            width: 130%;
            left: -25%;
            position: relative;
        }
    }
}

.section_submit_form {

    &:after {
        content: '';
        position: absolute;
        top: -30%;
        right: -50%;
        height: 100%;
        width: 100%;
        background-image: url(/img/form_submit.svg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

.section_bg {
    position: absolute;

    &--roadmap1 {
        bottom: 0;
        left: 0;
        position: fixed;
        background-image: url(/img/section_roadmap-bg1.svg);
        background-size: 70% 100%;
        background-repeat: no-repeat;
        background-position: left center;
        width: 30%;
        height: 30%;
    }

    &--roadmap2 {
        bottom: 0;
        right: 0;
        position: fixed;
        background-image: url(/img/section_roadmap-bg2.svg);
        background-size: 70% 100%;
        background-repeat: no-repeat;
        background-position: right center;
        width: 20%;
        height: 50%;
    }

    &--bonus_benefit_top {
        right: 10%;
        top: 0;
        position: fixed;
        background-image: url(/img/bonus_benefit-bg_top.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center top;
        width: 500px;
        height: 500px;
    }

    &--bonus_benefit_bottom {
        bottom: 0;
        left: 0;
        position: fixed;
        background-image: url(/img/bonus_benefit-bg_bottom.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: bottom right;
        width: 500px;
        height: 300px;
    }
}

.section_roadmap {}

.roadmap {
    position: relative;
}

.roadmap_item {
    max-width: 400px;
    padding-bottom: 100px;
    margin-bottom: 20px;

    position: relative;

    padding-left: 40px;

    &:after {
        content: '';
        background-image: url('/img/roadmap_arrow_up.svg');
        background-size: cover;
        background-position: center center;
        height: 67px;
        width: 20px;
        position: absolute;
        left: 0;
        top: 60px;
        z-index: 2;
        transform: rotate(180deg);
    }

    &:before {
        content: '';
        background-image: url('/img/roadmap_point.svg');
        background-size: cover;
        background-position: center center;
        height: 30px;
        width: 30px;
        position: absolute;
        left: 0;
        top: 19px;
        z-index: 2;
    }
}

.roadmap_item-text {}


.section_faq {}

.section_faq_item {
    padding: 40px;
    border-top: 1px solid black;

    &:last-child {
        border-bottom: 1px solid black;
    }
}

.faq_item-q {
    font-family: $font-Roboto;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    cursor: pointer;
    position: relative;

    &:before {
        content: '';
        background-image: url('/img/arrow_up.svg');
        background-position: center center;
        background-size: 100%;
        background-repeat: no-repeat;

        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotateY(0);
        transition: all .3s ease;
        left: -40px;

        width: 24px;
        height: 11px;
    }

    &.open {
        &:before {
            transform: translateY(-50%) scale(1, -1);
        }
    }
}

.faq_item-a {
    margin-top: 33px;
    display: none;
    overflow: hidden;
    transition: all .3s ease;

    &.open {
        display: block;
    }
}

.team {}

.team_item {
    margin-bottom: 3em;
}

.team_item-avatar {
    position: relative;
    overflow: hidden;
    display: inline-block;
    border-radius: 10px;
    width: 300px;

    img {
        float: left;
        width: 100%;
        height: auto;
    }

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 55.21%, rgba(242, 248, 252, 0.7) 100%);
        box-shadow: 20px 30px 50px rgba(4, 35, 52, 0.07);
    }
}

.team_item-name {
    font-family: $font-Roboto;
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    margin-top: -77px;
    position: relative;
    color: #3D4247;
}

.team_item-position {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.44px;
    color: #3D4247;
    margin-top: .5em;
}

@include min_width(768) {
    .section {

        &_roadmap {
            display: flex;
            align-items: center;

            .section_content_title {
                padding: 0;
            }
        }
    }

    .section__title {
        padding-top: 0;
    }

    .section_title {
        float: left;
        position: relative;
        margin-top: 100px;
    }

    .section_content_title {
        padding-top: 5%;
        margin-bottom: 100px;
    }

    .section_content_video {
        position: absolute;
        bottom: 0;
        height: 90%;
        right: 0;
        width: 65%;
        overflow: hidden;
    }

    .section_content {
        float: left;
    }

    .section--reverse {
        .section_title {
            float: right;
        }
    }

    .section_item_title {
        font-size: 28px;

        &--bonus_block1 {
            margin-top: 30%;
        }

        &--bonus_block2 {
            margin-top: 10%;
        }
    }

    .section_item {
        margin-bottom: 3em;

        &--bloger1,
        &--bloger2,
        &--bloger3 {
            .section_item_bg {
                max-width: 240px;
            }
        }

        &--bloger1 {
            top: 10%;
            left: 15%;

            .section_item_bg {
                margin-left: 15%;
                height: 80%;
            }

            .section_item_title {
                margin-top: 40%;
            }

        }

        &--bloger2 {
            left: 5%;

            .section_item_bg {
                height: 90%;
                margin-left: 20%;

            }

            .section_item_title {
                margin-top: 30%;
            }
        }

        &--bloger3 {
            top: 20%;

            .section_item_bg {
                height: 90%;
                margin-left: 20%;

            }

            .section_item_title {
                margin-top: 30%;
            }
        }

        &--blog_benefits1,
        &--blog_benefits2,
        &--blog_benefits3,
        &--blog_benefits4 {
            .section_item_bg {
                max-width: 400px;
            }
        }

        &--blog_benefits1 {
            top: 10%;
            left: 26%;

            .section_item_bg {
                margin-left: 15%;
                height: 120%;
                width: 40%;
            }

            .section_item_title {
                margin-top: 40%;
            }

        }

        &--blog_benefits2 {
            left: 6%;
            top: 50%;

            .section_item_bg {
                height: 120%;
                margin-left: 16%;
                width: 60%;

            }

            .section_item_title {
                margin-top: 30%;
            }
        }

        &--blog_benefits3 {
            top: 20%;
            max-width: 450px;

            .section_item_bg {
                height: 120%;
                margin-left: 50%;
                transform: translateX(-50%);
                width: 70%;
            }

            .section_item_title {
                margin-top: 30%;
            }
        }

        &--blog_benefits4 {
            top: 60%;

            .section_item_bg {
                height: 150%;
                margin-left: 20%;
                width: 50%;
            }

            .section_item_title {
                margin-top: 30%;
            }
        }

    }

    .section_item_bg {

        &--bonus_block1 {
            left: 15%;
            height: 150%;
            width: 50%;
        }

        &--bonus_block2 {
            height: 130%;
            margin-left: 20%;
            width: 78%;
            top: -20%;
        }
    }

    .section_item_icon {
        position: absolute;
        top: -14%;
        left: -35%;

        img {
            max-width: 150px;
        }

        &--bonus_block1 {
            left: -35%;
        }

        &--bonus_block2 {
            left: -25%;
        }
    }

    .section_blog_benefits {
        .section_title {
            width: 35%;
        }

        .section_content {
            width: 65%;
        }

        .section_item {
            max-width: 500px;
        }
    }

    .roadmap {
        display: flex;
        height: 190px;

        &:before {
            content: '';
            background-image: url('/img/roadmap_line.svg');
            background-size: cover;
            background-position: left center;
            background-repeat: no-repeat;
            width: 100%;
            height: 6px;
            position: absolute;
            z-index: 2;
            left: 70px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .roadmap_item {
        max-width: 400px;
        padding-bottom: 100px;
        margin-bottom: 0;
        padding: 0;
        display: flex;
        flex: 1;

        .roadmap_item-text {
            position: relative;

            .__h3 {
                font-size: 20px;
            }
        }

        &:before {
            left: 43%;
            transform: translate(-50%, 50%);
            top: unset;
            bottom: 50%;
            z-index: 2;
        }

        &:after {
            left: 43%;
            transform: translate(-50%, 0);
            top: unset;
            bottom: 64%;
            z-index: 2;
        }

        &:nth-child(1) {
            .roadmap_item-text {
                left: 43%;
                transform: translateX(-3%);
                position: relative;
            }
        }

        &:nth-child(2n+2) {
            align-items: flex-end;

            &:after {
                left: 43%;
                transform: translate(-50%, 0) rotate(180deg);
                top: 64%;
                bottom: unset;
                z-index: 2;
            }
        }

        &:nth-child(1) {
            .roadmap_item-text {
                width: 150px;
                top: -54px;
            }
        }

        &:nth-child(2) {
            .roadmap_item-text {
                top: 70px;
                left: 36%;
            }
        }

        &:nth-child(3) {
            .roadmap_item-text {
                width: 200px;
                top: -54px;
                left: 36%;
            }
        }

        &:nth-child(4) {
            .roadmap_item-text {
                top: 118px;
                left: 0%;
            }
        }
    }

    .section_faq_items {
        padding-left: 10%;
        padding-right: 5%;
    }

    .team {
        display: flex;

        .team_item {
            margin-right: 3em;
            margin-bottom: 0;


            &:last-child {
                margin-right: 0;
            }

            .team_item-avatar {
                position: relative;
                overflow: hidden;
                display: inline-block;
                border-radius: 10px;
                width: 200px;
            }

            .team_item-name {
                font-size: 30px;
                max-width: 200px;
            }

            .team_item-position {
                font-size: 16px;
            }

            &:nth-child(1) {
                margin-left: 1em;
                margin-top: 2em;

                .team_item-avatar {
                    width: 150px;
                    left: 38px;
                }

                .team_item-name {
                    margin-top: -53px;
                    max-width: 350px;
                }
            }

            &:nth-child(2) {
                margin-top: 6em;
                margin-left: -1em;
                width: 300px;

                .team_item-avatar {
                    width: 180px;
                    left: 38px;
                }

                .team_item-name {
                    margin-top: -53px;
                    max-width: 300px;
                }
            }

            &:nth-child(3) {
                margin-top: -1em;
                margin-left: 1em;

                .team_item-avatar {
                    width: 180px;
                    left: 47px;
                }

                .team_item-name {
                    max-width: 350px;
                }
            }

        }
    }

}

@include min_width(992) {
    .section {

        &_about_title,
        &_roadmap,
        &_team {
            display: flex;
            align-items: center;

            .section_content_title {
                padding: 0;
                margin-bottom: 0;
            }
        }

        &_roadmap {

            .section_content_title {
                margin-bottom: 100px;
            }
        }
    }

    .section__title {
        margin-top: 150px;
    }

    .section_title {
        width: 30%;
        margin-top: 150px;
        float: left;

        &.section_title--bonus_using,
        &.section_title--newsales {
            float: right;
            width: 40%;
        }
    }

    .section_content {
        width: 70%;
        float: left;

        &--postavshik,
        &--bonus_using,
        &--newsales {
            width: 60%;
            padding-right: 40px;

            .row {
                flex-direction: row-reverse;
            }
        }
    }

    .section_item {
        right: -50px;

        &--about_block1,
        &--about_block2,
        &--about_block3 {

            .section_item_title {
                margin-top: 50px;
            }
        }

        &--about_block1 {
            left: 10%;

            .section_item_bg {
                height: 80%;
                width: 150px;
            }
        }

        &--about_block2 {
            top: -110px;
            left: 17%;
            padding: 0;
            height: 175px;
            margin-bottom: 0;
            max-width: 90%;

            .section_item_title {
                margin-top: 0;
                top: 100px;
            }

            .section_item_bg {
                height: 100%;
                margin-left: 0%;
                width: 150px;
            }
        }

        &--about_block3 {
            top: 0;
            left: 0%;
            padding: 0;
            height: 224px;
            margin-bottom: 0;

            .section_item_title {
                margin-top: 0;
                top: 120px;
            }

            .section_item_bg {
                height: 100%;
                margin-left: 0%;
                width: 150px;

            }
        }

        &--bonus_block1 {
            top: 20%;
        }


        &--bonus_block1 {
            top: 80%;
        }

        &--bonus_block2 {
            top: 50%;
            right: 0;
        }

        &--bonus_using1,
        &--bonus_using2,
        &--bonus_using3,
        &--bonus_using4 {
            max-width: 90%;
            height: 350px;
            margin-bottom: 6em;
        }

        &--bonus_using1 {}

        &--bonus_using2 {
            top: 30%;
            left: -5%;
        }

        &--bonus_using3 {
            top: -5%;
        }

        &--bonus_using4 {
            top: 30%;
            left: 15%;
        }

        &--newsales1 {
            margin-top: 0%;
            left: 35%;

            .section_item_title {
                width: 250px;
            }

            .section_item_bg {
                height: 300px;
                width: 85%;
                left: 10%;
            }

            .section_item-number {
                right: -25px;
            }
        }

        &--newsales2 {
            margin-top: 50%;
            left: 20%;

            .section_item_title {
                width: 400px;
            }

            .section_item_bg {
                height: 300px;
                width: 70%;
                left: 10%;
            }

            .section_item-number {
                right: -25px;
            }
        }

        &--newsales3 {
            margin-top: 22%;
            right: -150px;

            .section_item_title {
                width: 200px;
            }

            .section_item_bg {
                height: 300px;
                width: 100%;
                left: 10%;
            }

            .section_item-number {
                right: -25px;
            }
        }

        &--newsales4 {
            margin-top: 75%;
            left: 15%;

            .section_item_title {
                width: 200px;
                top: 30px;
            }

            .section_item_bg {
                height: 300px;
                width: 80%;
                left: 10%;
            }

            .section_item-number {
                right: -25px;
            }
        }

        &--newsales5 {
            margin-top: 30%;
            left: 47%;

            .section_item_title {
                width: 400px;
                top: 30px;
            }

            .section_item_bg {
                height: 300px;
                width: 70%;
                left: 10%;
            }

            .section_item-number {
                right: -25px;
            }
        }

        &--newsales6 {
            margin-top: 108%;
            left: 32%;

            .section_item_title {
                width: 200px;
                top: 30px;
            }

            .section_item_bg {
                height: 300px;
                width: 75%;
                left: 10%;
            }

            .section_item-number {
                right: -25px;
            }
        }

        &--newsales7 {
            margin-top: 0%;
            left: 68%;

            .section_item_title {
                width: 400px;
                top: 30px;
            }

            .section_item_bg {
                height: 270px;
                width: 80%;
                left: 10%;
            }

            .section_item-number {
                right: -25px;
            }
        }
    }

    .section_item_bg {

        &--bonus_block1 {
            left: 5%;
        }

        &--bonus_block2 {
            margin-left: 0;
        }

        &--bonus_using1 {
            width: 100%;
        }

        &--bonus_using2 {
            width: 80%;
        }

        &--bonus_using3 {
            width: 75%;
        }

        &--bonus_using4 {
            width: 100%;
        }
    }

    .section_item_icon {
        &--bonus_block1 {
            left: -35%;
        }

        &--bonus_block2 {
            left: -25%;
        }
    }

    .section_item_number {
        width: 150px;

        &--bonus_using {
            width: 100%;
        }
    }

    .section_item-number {
        font-size: 300px;
        bottom: -40px;
        right: -52px;

        &--bonus_using1,
        &--bonus_using2,
        &--bonus_using3,
        &--bonus_using4 {
            font-size: 370px;
            bottom: -55px;
        }

        &--bonus_using4 {
            right: 0;
        }
    }

    .section_item_title {
        font-size: 24px;
        left: -50px;

        &--bonus_using {
            top: 5%;
            width: 250px;
        }
    }

    .section_faq_items {
        padding-left: 15%;
        padding-right: 10%;
    }

    .section_team {
        padding-left: 100px;
    }
}

@include min_width(1200) {

    .section_item_title {
        font-size: 26px;
    }

    .section_item {

        right: -50px;

        &--bonus_block1 {
            top: 60%;
            right: -70px;
        }

        &--bonus_block2 {
            top: 40%;
            right: -70px;
        }

        &--bonus_using {
            max-width: 90%;
            margin-left: auto;
            margin-right: auto;
        }

        &--newsales1 {
            .section_item_bg {
                height: 338px;
                width: 70%;
            }
        }

        &--newsales2 {
            margin-top: 60%;
            left: 47%;

            .section_item_bg {
                height: 340px;
                width: 60%;
            }
        }

        &--newsales3 {
            right: -150px;

            .section_item_bg {
                width: 90%;
            }
        }

        &--newsales4 {
            left: 40%;

            .section_item_title {
                width: 300px;
            }

            .section_item_bg {
                height: 300px;
                width: 70%;
            }

            .section_item-number {
                right: -40px;
            }
        }

        &--newsales5 {
            margin-top: 20%;

            .section_item_title {
                width: 400px;
                top: 30px;
            }

            .section_item_bg {
                height: 350px;
                width: 60%;
            }
        }

        &--newsales6 {
            margin-top: 90%;
            left: 50%;

            .section_item_bg {
                height: 400px;
                width: 60%;
            }
        }

        &--newsales7 {
            margin-top: 10%;
            left: 68%;

            .section_item_title {
                width: 400px;
                top: 30px;
            }

            .section_item_bg {
                height: 300px;
                width: 50%;
            }

            .section_item-number {
                right: -25px;
            }
        }
    }

    .section_item_bg {

        &--bonus_block1 {
            left: 5%;
        }

        &--bonus_block2 {
            margin-left: 0;
        }

        &--bonus_using1 {
            width: 90%;
        }

        &--bonus_using2 {
            width: 90%;
        }

        &--bonus_using3 {
            width: 90%;
        }

        &--bonus_using4 {
            width: 90%;
        }
    }

    .section_faq_items {
        padding-right: 0%;
    }

    .roadmap_item {
        &:nth-child(4) {
            .roadmap_item-text {
                left: 36%;
            }
        }
    }
}

@include min_width(1600) {

    .section_item_title {
        font-size: 36px;
    }

    .section-items {
        .section-item {
            max-width: 500px;

            &.__item1 {
                left: -50px;

                .item-bg {
                    width: 60%;
                    right: 137px;
                }
            }

            &.__item2 {
                top: 100px;
                left: -100px;
            }

            &.__item3 {
                top: -100px;
                left: -150px;
            }

            &.__item4 {
                left: -200px;
            }

            &.__item5 {
                .item-bg {
                    width: 50%;
                    right: 190px;
                }
            }
        }
    }

    .section_item {

        &--about_block1,
        &--about_block2,
        &--about_block3 {
            right: 0;
            left: 0;
            padding: 0;
            margin: 0;

            .section_item_title {
                left: 0;
                margin: 0;
            }
        }

        &--about_block1 {
            max-width: 400px;

            .section_item_bg {
                height: 162%;
                width: 180px;
                left: 10%;
            }

            .section_item_title {
                top: 140px;
            }
        }

        &--about_block2 {
            top: -110px;
            max-width: 80%;

            .section_item_title {
                margin-top: 0;
                top: 100px;
            }

            .section_item_bg {
                height: 144%;
                width: 196px;
                left: 14%;
            }

            .section_item_icon {
                top: -64px;
                left: -84px;
            }
        }

        &--about_block3 {
            height: 272px;
            max-width: 460px;

            .section_item_title {
                margin-top: 0;
                top: 120px;
            }

            .section_item_bg {
                height: 130%;
                margin-left: 12%;
                width: 177px;
            }

            .section_item_title {
                top: 200px;
            }

            .section_item_icon {
                top: 30px;
            }
        }

        &--bloger1,
        &--bloger2,
        &--bloger3 {
            .section_item_bg {}
        }

        &--bloger1 {
            top: 5%;
            left: 7%;

            .section_item_bg {
                margin-left: 15%;
                height: 80%;
            }

            .section_item_title {
                margin-top: 40%;
            }

        }
    }

    .section_item_icon {
        top: -50px;
        left: -67px;

        img {
            max-width: 200px;
        }
    }

    .section_faq_items {
        padding-right: 10%;
    }

    .section_team {
        .section_content {
            float: none;
            width: 90%;
        }
    }

    .team {
        zoom: 1.4;

        .team_item {
            margin: 0;

            &:nth-child(1) {
                width: 490px;
            }

            &:nth-child(2) {
                width: 490px;
                margin-left: 2em;

                .team_item-avatar {
                    left: 42px;
                }
            }

            &:nth-child(3) {
                width: 490px;
            }
        }
    }
}