#footer_nav {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    padding: 1em;
    width: 100%;
    list-style: none;
    font-size: 12px;
    line-height: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 0) 100%);
}

.section-contacts {

    &:before,
    &:after {
        content: '';
        position: absolute;
        background-size: cover;
    }

    &:before {
        top: 0;
        left: 0;
        height: 80%;
        width: 40%;
        background-image: url('/img/footer_bg_left.png');
        background-position: bottom right;
    }

    &:after {
        bottom: 0;
        right: 0;
        height: 70%;
        width: 20%;
        background-image: url(/img/footer_bg_right.png);
        background-position: top left;
    }

    .section_title {
        width: auto;

        .phone {
            margin-bottom: 0.5em;
            display: inline-block;
            margin-right: 3em;
            font-size: 24px;
            font-weight: 600;
        }

        .email {
            margin-bottom: 0.5em;
            display: inline-block;
            margin-right: 0;
            font-size: 24px;
            font-weight: 600;
        }

        .social {
            a {
                margin-right: 1em;
                display: inline-block;
            }
        }

        .copyright {
            margin-top: 1em;
            margin-bottom: 1em;
        }
    }

    .footer_nav {
        a {
            display: block;
        }
    }

    @include min_width(768) {

        .__h2 {
            margin-bottom: 0;
        }

        .section_title {
            margin-top: 2em;

            &.__start {
                margin-top: 10%;
            }

            .copyright {
                margin-top: 3em;
            }
        }
    }

    @include min_width(992) {
        .section_title {
            .copyright {
                margin-top: 4em;
            }
        }
    }
}

.footer_item_counter {
    color: #3D4247;
    display: flex;
    align-items: center;

    .f_item_current {
        font-size: 26px;
        line-height: 28px;
    }

    .f_items {
        color: #3D4247;
        position: relative;
        padding-left: 18px;
        margin-left: 5px;
        margin-top: 1px;

        &:before {
            content: '—';
            position: absolute;
            top: -2px;
            left: 0;
        }
    }
}

.footer_nav-item {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    margin-left: 1em;

    &:first-child {
        margin-left: 0;
    }

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #3D4247;
        border: 1px solid #3D4247;
        transition: all .3s ease-in;
    }

    &--active {
        &:after {
            width: 12px;
            height: 12px;
            background-color: transparent;
        }
    }
}