form {


    input[type='text'],
    input[type='tel'],
    input[type='email'],
    input[type='submit'],
    button,
    textarea {
        background: #F2F8FC;
        border-radius: 10px;
        border: none;
        box-shadow: none;
        padding: 10px 20px;
        line-height: 1;
    }

    textarea {
        line-height: 1.2;
    }

    button,
    input[type='submit'] {
        border: 2px solid #3D4247;
        box-sizing: border-box;
        border-radius: 10px;
        color: #3D4247;
        padding: 10px 20px;
        background-color: white;
        cursor: pointer;
    }

    .field {
        margin-bottom: .5em;
    }

    &.form--section_submit_form {

        input[type='text'],
        input[type='tel'],
        input[type='email'],
        input[type='submit'],
        button,
        textarea {
            width: 100%;
        }

    }

    @include min_width(768) {
        .field {
            &.field-inline {
                float: left;
                margin-right: 1em;
            }
        }

        &.form--section_submit_form {
            max-width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    @include min_width(1200) {
        &.form--section_submit_form {
            max-width: 992px;
        }
    }
}

@include min_width(1200) {
    form {
        &.form-inline {
            .field {
                float: left;
                margin-right: 1em;
            }
        }
    }

}