header {}

.header_wrap {
    position: relative;
    z-index: 500;
    padding: 25px 40px 25px 30px;
    overflow: hidden;
    background-image: linear-gradient(to bottom, white 0%, white 50%, rgba(255, 255, 255, 0) 100%);
    display: flex;
    justify-content: space-between;
}

.header_logo {
    display: flex;
}

.header_menu {
    float: left;
    margin-left: 24px;
    padding-left: 24px;
    border-left: 2px solid #3D4247;
    display: flex;
}

.header_menu--nav {
    border-color: white;
}

.header-burger {
    cursor: pointer;
}

.header-close {
    cursor: pointer;
}

.header_nav {
    display: none;
    background-color: $color-perp;
    padding: 21px 26px 50px;
    color: white;
    position: absolute;
    top: 4px;
    left: 4px;
    width: 320px;
    z-index: 1000
}

.header_nav_action {
    margin-bottom: 50px;
    overflow: hidden;
    display: flex;
}

.header_nav-item {
    display: block;
    margin-bottom: 50px;

    &:last-child {
        margin-bottom: 0;
    }
}

.header_langs {
    float: right;
    display: flex;
    font-family: $font-Ubunto;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.44px;

    a {
        color: rgba(#3D4247, .4);
    }

    .langs_items {}

    .langs_item {
        margin-right: 15px;
        padding-right: 15px;
        border-right: 2px solid #3D4247;

        &.langs_item--all {
            margin-right: 40px;
            border-right: none;
        }

        &:last-child {
            border-right: none;
            border-right: none;
            padding-right: 0;
            margin-right: 0;
        }
    }
}