doctype html
html(lang='ru')
	head
		include ../partial/head.pug

	body
		include ../partial/header.pug

		main#pagepiling
			block content

			include ../partial/footer_section.pug

		include ../partial/footer.pug

		script(src="/js/jquery-3.4.1.min.js")
		script(src="/js/jquery.pagepiling.min.js")
		script(src="/js/base.js?v={VERSION_REPlACE}")

		block scripts
