@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
    @font-face {
        font-family: $font-family;
        font-weight: $weight;
        font-style: $style;
        src: url("#{$file-path}.eot") format("eot"),
        url("#{$file-path}.woff") format("woff"),
        url("#{$file-path}.ttf") format("truetype");
    }
}

@mixin font($name, $weight: normal, $style: normal) {
    font-family: $name;
    font-weight: $weight;
    font-style: $style;
}

@mixin max_width($width) {
    @media (max-width: $width+"px") {
        @content;
    }
}

@mixin min_width($width) {
    @media (min-width: $width+"px") {
        @content;
    }
}