.__h1,
.__h2,
.__h3 {
    font-weight: 500;
    font-family: $font-Roboto;
    margin-bottom: 1em;

    color: #3D4247;

}

img {
    max-width: 100%;
}

.__h1 {
    font-weight: 500;
    font-size: 28px;
    line-height: 120%;

    img {
        height: 1.1em;
    }
}

.__h1--sub {
    font-size: .8em;
    display: inline-block;

}

.h1_image {
    font-size: 1.2em;
}

.h1_sub_image {
    font-size: 1.1em;
}

.__h2 {
    font-size: 24px;
    line-height: 120%;

    img {
        height: 1.1em;
    }

    .__sub {
        margin-top: .5em;
        display: block;
    }
}

.__h3 {
    font-size: 22px;
    line-height: 1.2;
}

a {
    color: inherit;
    transition: all .3s ease;
    text-decoration: none;

    &:hover {
        opacity: .8;
    }
}

@include min_width(768) {
    .__h1 {
        font-size: 44px;
    }

    .__h2 {
        font-size: 34px;
    }

    .__h3 {
        font-size: 28px;
    }
}

@include min_width(1400) {
    .__h1 {
        font-size: 64px;
    }

    .__h2 {
        font-size: 44px;
    }

    .__h3 {
        font-size: 38px;
        line-height: 120%;
    }
}