$font-Ubunto: "Ubuntu",
sans-serif;

$font-Roboto: "Roboto",
sans-serif;

$font-OpenSans: "Open Sans",
sans-serif;


$color-green: #9AD74E;
$color-sky: #F2F8FC;
$color-blu: #CEE0F7;
$color-yellow: #FFE600;
$color-orange: #FEB798;
$color-lime: #D0FFEE;
$color-perp: #5F54E2;