@import "reset";
@import "mixins";
@import "variables";
@import 'fonts';
@import 'typograph';

@import "partial/header";
@import "partial/footer";
@import "partial/body";
@import "partial/forms";
@import "partial/hamburger";

.bg_color--green {
    background-color: $color-green;
}

.bg_color--sky {
    background-color: $color-sky;
}

.bg_color--blu {
    background-color: $color-blu;
}

.bg_color--yellow {
    background-color: $color-yellow;
}

.bg_color--orange {
    background-color: $color-orange;
}

.bg_color--lime {
    background-color: $color-lime;
}

.bg_color--perp {
    background-color: $color-perp;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.container {
    z-index: 1;
}

.__pos_relative {
    position: relative;
    margin-bottom: 5em;
}

.__upper {
    text-transform: uppercase;
}

@import "page/page";