/*!
 * Bootstrap Grid v4.2.1 (https://getbootstrap.com/)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@import "grid/functions";
@import "grid/variables";

@import "grid/mixins/breakpoints";
@import "grid/mixins/grid-framework";
@import "grid/mixins/grid";

@import "grid/grid";
@import "grid/utilities/display";
@import "grid/utilities/flex";
@import "grid/utilities/spacing";